<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="row">
  <div class="col-md-12">

    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-success">Success</button>
    <button class="btn btn-warning">Warning</button>
    <button class="btn btn-danger">Danger</button>
    <button class="btn btn-danger" disabled>Disabled</button>


    <span class="spinner spinner-inline">
      Loading...
    </span>
    <span>
      Loading...
    </span>

    <clr-tabs>
      <clr-tab>
        <button clrTabLink id="link1">Первая вкладка</button>
        <clr-tab-content id="content1" *clrIfActive>
          <div>first tab!</div>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>Важная информация</button>
        <clr-tab-content *clrIfActive="true">
          <div>second tab!!</div>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>

  </div>
</div> -->

<router-outlet></router-outlet>