/* You can add global styles to this file, and also import other style files */
clr-tabs {
  margin: 15px auto;
  width: 50%;
  border: 1px solid yellowgreen;
  padding: 15px;
  display: block;
  & clr-tab-content div {
    padding: 10px;
  }
}

.row {
  width: 700px;
  margin: 0 auto;
}



.login-wrapper-custom {
  display: flex;
  background: url('/assets/background-auth.jpg');
  background-size: cover;
  // background-position: 21rem 0;
  background-repeat: no-repeat;
  height: 100vh;
  justify-content: center;
  align-items: center;
  & .login-block {
    padding: 15px;
    height: min-content;
    background: #fafafa;
    padding: 1rem 2.5rem;
    width: 21rem;

    & .login-group {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      // padding: 2rem 0 0 0;
      margin: 0;

      & > input {
        margin: .25rem 0 .75rem 0;
      }

      & > label {
        margin: .25rem 0 .75rem 0;
        & input {
          width: 100%;
        }
      }

      & .signup {
          margin-top: .5rem;
          font-size: .5833rem;
          text-align: center;
      }

      & clr-alert + .btn {
          margin: .75rem 0 0 0;
      }

    }
  }
}