/* You can add global styles to this file, and also import other style files */
clr-tabs {
  margin: 15px auto;
  width: 50%;
  border: 1px solid yellowgreen;
  padding: 15px;
  display: block;
  & clr-tab-content div {
    padding: 10px;
  }
}

.row {
  width: 700px;
  margin: 0 auto;
} 