<!-- <h1>Hello</h1> -->

<header [class.mini]="sidebarMini">
  <div>
    <button type="button" class="btn btn-icon ellipsis-btn" (click)="sidebarMini = !sidebarMini">
      <clr-icon shape="ellipsis-vertical"></clr-icon>
    </button>
  </div>
  <div>
    <p>block</p>
  </div>
  <div>
    <clr-dropdown>
      <button type="button" class="btn btn-outline-primary btn-image" clrDropdownTrigger>
        <img src="https://demo.pixelcave.com/oneui/assets/img/avatars/avatar10.jpg" alt="Avatar">
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
        <label class="dropdown-header">Dropdown header</label>
        <button type="button" clrDropdownItem>Action 1</button>
        <button type="button" disabled clrDropdownItem>Disabled Action</button>
        <div class="dropdown-divider"></div>
        <clr-dropdown>
          <button type="button" clrDropdownTrigger>Link 1</button>
          <clr-dropdown-menu clrPosition="bottom-right">
            <button type="button" clrDropdownItem>Foo</button>
            <clr-dropdown>
              <button type="button" clrDropdownTrigger>Bar</button>
              <clr-dropdown-menu clrPosition="bottom-right">
                <button type="button" clrDropdownItem>Baz</button>
              </clr-dropdown-menu>
            </clr-dropdown>
          </clr-dropdown-menu>
        </clr-dropdown>
        <button type="button" clrDropdownItem>Link 2</button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>

<aside [class.mini]="sidebarMini">
  <div class="sidebar-content">
    <div class="side-header">Заголовок</div>
    <div class="side-content">
      <ul>
        <li *ngFor="let item of menuItems" [class.nav-main-heading]="item.type === 'heading'">
          <a [href]="item.url" *ngIf="item.type === 'url'">
            <clr-icon shape="item.shape" class="is-solid"></clr-icon>
            <span>{{ item.text }}</span>
          </a>
          <span *ngIf="item.type === 'heading'">{{ item.text }}</span>
        </li>
      </ul>
    </div>
  </div>
</aside>

<div class="system-container">
  <router-outlet></router-outlet>
</div>